{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://management.azure.com/"
        }
    ],
    "info": {
        "description": "Use this API to manage IoT Central Applications in your Azure subscription.",
        "title": "IotCentralClient",
        "version": "2018-09-01",
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
        },
        "x-origin": [
            {
                "format": "swagger",
                "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/iotcentral/resource-manager/Microsoft.IoTCentral/stable/2018-09-01/iotcentral.json",
                "version": "2.0"
            }
        ],
        "x-preferred": true,
        "x-providerName": "azure.com",
        "x-serviceName": "iotcentral",
        "x-tags": [
            "Azure",
            "Microsoft"
        ]
    },
    "security": [
        {
            "azure_auth": [
                "user_impersonation"
            ]
        }
    ],
    "paths": {
        "/providers/Microsoft.IoTCentral/operations": {
            "get": {
                "deprecated": false,
                "description": "Lists all of the available IoT Central application REST API operations.",
                "operationId": "Operations_List",
                "parameters": [
                    {
                        "description": "The version of the API.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK. The request has succeeded.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "A list of IoT Central operations. It contains a list of operations and a URL link to get the next set of results.",
                                    "properties": {
                                        "nextLink": {
                                            "description": "The link used to get the next page of IoT Central description objects.",
                                            "type": "string"
                                        },
                                        "value": {
                                            "description": "A list of operations supported by the Microsoft.IoTCentral resource provider.",
                                            "items": {
                                                "description": "IoT Central REST API operation",
                                                "properties": {
                                                    "display": {
                                                        "description": "The object that represents the operation.",
                                                        "properties": {
                                                            "description": {
                                                                "description": "Friendly description for the operation,",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "operation": {
                                                                "description": "Name of the operation",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "provider": {
                                                                "description": "Service provider: Microsoft IoT Central",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "resource": {
                                                                "description": "Resource Type: IoT Central",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "name": {
                                                        "description": "Operation name: {provider}/{resource}/{read | write | action | delete}",
                                                        "readOnly": true,
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "readOnly": true,
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "DefaultErrorResponse",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "tags": [
                    "Operations"
                ],
                "x-ms-examples": {
                    "Operations_List": {
                        "parameters": {
                            "api-version": "2018-09-01"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "nextLink": null,
                                    "value": [
                                        {
                                            "display": {
                                                "description": "Gets a single IoT Central Application",
                                                "operation": "Get IoT Central Application",
                                                "provider": "Microsoft IoT Central",
                                                "resource": "IoTApps"
                                            },
                                            "name": "Microsoft.IoTCentral/IoTApps/read"
                                        },
                                        {
                                            "display": {
                                                "description": "Creates or Updates an IoT Central Applications",
                                                "operation": "Create or Update IoT Central Application",
                                                "provider": "Microsoft IoT Central",
                                                "resource": "IoTApps"
                                            },
                                            "name": "Microsoft.IoTCentral/IoTApps/write"
                                        },
                                        {
                                            "display": {
                                                "description": "Deletes an IoT Central Applications",
                                                "operation": "Delete IoT Central Application",
                                                "provider": "Microsoft IoT Central",
                                                "resource": "IoTApps"
                                            },
                                            "name": "Microsoft.IoTCentral/IoTApps/delete"
                                        },
                                        {
                                            "display": {
                                                "description": "Checks if an IoT Central Application name is available",
                                                "operation": "Check resource name availability",
                                                "provider": "Microsoft IoT Central",
                                                "resource": ""
                                            },
                                            "name": "Microsoft.IoTCentral/checkNameAvailability/action"
                                        },
                                        {
                                            "display": {
                                                "description": "Gets all the available operations on IoT Central Applications",
                                                "operation": "Get all the available operations",
                                                "provider": "Microsoft IoT Central",
                                                "resource": ""
                                            },
                                            "name": "Microsoft.IoTCentral/operations/read"
                                        }
                                    ]
                                },
                                "headers": {
                                    "code": "200"
                                }
                            },
                            "default": {
                                "body": {
                                    "error": {
                                        "code": "Error code",
                                        "message": "Error message",
                                        "target": "Error target"
                                    }
                                },
                                "description": "Error message returned for an unexpected response",
                                "headers": {}
                            }
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.IoTCentral/IoTApps": {
            "get": {
                "deprecated": false,
                "description": "Get all IoT Central Applications in a subscription.",
                "operationId": "Apps_ListBySubscription",
                "parameters": [
                    {
                        "description": "The version of the API.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The subscription identifier.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "This is a synchronous operation. The body contains a JSON-serialized array of the metadata from all the IoT Central Applications in the subscription.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "A list of IoT Central Applications with a next link.",
                                    "properties": {
                                        "nextLink": {
                                            "description": "The link used to get the next page of IoT Central Applications.",
                                            "type": "string"
                                        },
                                        "value": {
                                            "description": "A list of IoT Central Applications.",
                                            "items": {
                                                "allOf": [
                                                    {
                                                        "description": "The common properties of an ARM resource.",
                                                        "properties": {
                                                            "id": {
                                                                "description": "The ARM resource identifier.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "location": {
                                                                "description": "The resource location.",
                                                                "type": "string",
                                                                "x-ms-mutability": [
                                                                    "create",
                                                                    "read"
                                                                ]
                                                            },
                                                            "name": {
                                                                "description": "The ARM resource name.",
                                                                "pattern": "^(?![0-9]+$)(?!-)[a-zA-Z0-9-]{2,99}[a-zA-Z0-9]$",
                                                                "readOnly": true,
                                                                "type": "string",
                                                                "x-comment": "pattern must match #/parameters/resourceName"
                                                            },
                                                            "tags": {
                                                                "additionalProperties": {
                                                                    "type": "string"
                                                                },
                                                                "description": "The resource tags.",
                                                                "type": "object"
                                                            },
                                                            "type": {
                                                                "description": "The resource type.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "location"
                                                        ],
                                                        "x-ms-azure-resource": true,
                                                        "type": "object"
                                                    }
                                                ],
                                                "description": "The IoT Central application.",
                                                "properties": {
                                                    "properties": {
                                                        "description": "The common properties of an IoT Central application.",
                                                        "x-ms-client-flatten": true,
                                                        "properties": {
                                                            "applicationId": {
                                                                "description": "The ID of the application.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "displayName": {
                                                                "description": "The display name of the application.",
                                                                "pattern": "^.{1,200}$",
                                                                "type": "string"
                                                            },
                                                            "subdomain": {
                                                                "description": "The subdomain of the application.",
                                                                "pattern": "^[a-z0-9-]{1,63}$",
                                                                "type": "string"
                                                            },
                                                            "template": {
                                                                "description": "The ID of the application template, which is a blueprint that defines the characteristics and behaviors of an application. Optional; if not specified, defaults to a blank blueprint and allows the application to be defined from scratch.",
                                                                "type": "string",
                                                                "x-ms-mutability": [
                                                                    "create",
                                                                    "read"
                                                                ]
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "sku": {
                                                        "description": "A valid instance SKU.",
                                                        "properties": {
                                                            "name": {
                                                                "description": "The name of the SKU.",
                                                                "enum": [
                                                                    "F1",
                                                                    "S1"
                                                                ],
                                                                "type": "string",
                                                                "x-ms-enum": {
                                                                    "modelAsString": true,
                                                                    "name": "AppSku"
                                                                }
                                                            }
                                                        },
                                                        "required": [
                                                            "name"
                                                        ],
                                                        "type": "object"
                                                    }
                                                },
                                                "required": [
                                                    "sku"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "DefaultErrorResponse",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "tags": [
                    "Apps"
                ],
                "x-ms-examples": {
                    "Apps_ListBySubscription": {
                        "parameters": {
                            "api-version": "2018-09-01",
                            "subscriptionId": "00000000-0000-0000-0000-000000000000"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "nextLink": null,
                                    "value": [
                                        {
                                            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/resRg/providers/Microsoft.IoTCentral/IoTApps/myIoTCentralApp",
                                            "location": "westus",
                                            "name": "myIoTCentralApp",
                                            "properties": {
                                                "applicationId": "6ebd8fd3-6e34-419e-908f-9be61ec6f6d6",
                                                "displayName": "My IoT Central App",
                                                "subdomain": "my-iot-central-app",
                                                "template": "iotc-default@1.0.0"
                                            },
                                            "sku": {
                                                "name": "F1"
                                            },
                                            "tags": {
                                                "key": "value"
                                            },
                                            "type": "Microsoft.IoTCentral/IoTApps"
                                        }
                                    ]
                                },
                                "default": {
                                    "body": {
                                        "error": {
                                            "code": "Error code",
                                            "message": "Error message",
                                            "target": "Error target"
                                        }
                                    },
                                    "description": "Error message returned for an unexpected response",
                                    "headers": {}
                                },
                                "headers": {
                                    "code": "200"
                                }
                            }
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.IoTCentral/checkNameAvailability": {
            "post": {
                "deprecated": false,
                "description": "Check if an IoT Central application name is available.",
                "operationId": "Apps_CheckNameAvailability",
                "parameters": [
                    {
                        "description": "The version of the API.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The subscription identifier.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "This is a synchronous operation. The body contains a JSON-serialized response that specifies whether the IoT Central application name is available. If the name is not available, the body contains the reason.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The properties indicating whether a given IoT Central application name or subdomain is available.",
                                    "properties": {
                                        "message": {
                                            "description": "The detailed reason message.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "nameAvailable": {
                                            "description": "The value which indicates whether the provided name is available.",
                                            "readOnly": true,
                                            "type": "boolean"
                                        },
                                        "reason": {
                                            "description": "The reason for unavailability.",
                                            "readOnly": true,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "DefaultErrorResponse",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "tags": [
                    "Apps"
                ],
                "x-ms-examples": {
                    "Apps_CheckNameAvailability": {
                        "parameters": {
                            "api-version": "2018-09-01",
                            "operationInputs": {
                                "name": "myIoTCentralApp",
                                "type": "IoTApps"
                            },
                            "subscriptionId": "00000000-0000-0000-0000-000000000000"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "nameAvailable": true
                                },
                                "description": "Returns information about resource name availability",
                                "headers": {
                                    "code": "200"
                                }
                            },
                            "default": {
                                "body": {
                                    "error": {
                                        "code": "Error code",
                                        "message": "Error message",
                                        "target": "Error target"
                                    }
                                },
                                "description": "Error message returned for an unexpected response",
                                "headers": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Input values.",
                                "properties": {
                                    "name": {
                                        "description": "The name of the IoT Central application instance to check.",
                                        "pattern": "^[a-z0-9-]{1,63}$",
                                        "type": "string"
                                    },
                                    "type": {
                                        "default": "IoTApps",
                                        "description": "The type of the IoT Central resource to query.",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "name"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "description": "Set the name parameter in the OperationInputs structure to the name of the IoT Central application to check.",
                    "required": true
                }
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.IoTCentral/checkSubdomainAvailability": {
            "post": {
                "deprecated": false,
                "description": "Check if an IoT Central application subdomain is available.",
                "operationId": "Apps_CheckSubdomainAvailability",
                "parameters": [
                    {
                        "description": "The version of the API.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The subscription identifier.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "This is a synchronous operation. The body contains a JSON-serialized response that specifies whether the IoT Central application subdomain is available. If the subdomain is not available, the body contains the reason.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The properties indicating whether a given IoT Central application name or subdomain is available.",
                                    "properties": {
                                        "message": {
                                            "description": "The detailed reason message.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "nameAvailable": {
                                            "description": "The value which indicates whether the provided name is available.",
                                            "readOnly": true,
                                            "type": "boolean"
                                        },
                                        "reason": {
                                            "description": "The reason for unavailability.",
                                            "readOnly": true,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "DefaultErrorResponse",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "tags": [
                    "Apps"
                ],
                "x-ms-examples": {
                    "Apps_SubdomainAvailability": {
                        "parameters": {
                            "api-version": "2018-09-01",
                            "operationInputs": {
                                "name": "myIoTCentralApp",
                                "type": "IoTApps"
                            },
                            "subscriptionId": "00000000-0000-0000-0000-000000000000"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "nameAvailable": true
                                },
                                "description": "Returns information about resource subdomain availability",
                                "headers": {
                                    "code": "200"
                                }
                            },
                            "default": {
                                "body": {
                                    "error": {
                                        "code": "Error code",
                                        "message": "Error message",
                                        "target": "Error target"
                                    }
                                },
                                "description": "Error message returned for an unexpected response",
                                "headers": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Input values.",
                                "properties": {
                                    "name": {
                                        "description": "The name of the IoT Central application instance to check.",
                                        "pattern": "^[a-z0-9-]{1,63}$",
                                        "type": "string"
                                    },
                                    "type": {
                                        "default": "IoTApps",
                                        "description": "The type of the IoT Central resource to query.",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "name"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "description": "Set the name parameter in the OperationInputs structure to the subdomain of the IoT Central application to check.",
                    "required": true
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.IoTCentral/IoTApps": {
            "get": {
                "deprecated": false,
                "description": "Get all the IoT Central Applications in a resource group.",
                "operationId": "Apps_ListByResourceGroup",
                "parameters": [
                    {
                        "description": "The version of the API.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The subscription identifier.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the resource group that contains the IoT Central application.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "This is a synchronous operation. The body contains a JSON-serialized array of the metadata from all the IoT Central Applications in the resource group.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "A list of IoT Central Applications with a next link.",
                                    "properties": {
                                        "nextLink": {
                                            "description": "The link used to get the next page of IoT Central Applications.",
                                            "type": "string"
                                        },
                                        "value": {
                                            "description": "A list of IoT Central Applications.",
                                            "items": {
                                                "allOf": [
                                                    {
                                                        "description": "The common properties of an ARM resource.",
                                                        "properties": {
                                                            "id": {
                                                                "description": "The ARM resource identifier.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "location": {
                                                                "description": "The resource location.",
                                                                "type": "string",
                                                                "x-ms-mutability": [
                                                                    "create",
                                                                    "read"
                                                                ]
                                                            },
                                                            "name": {
                                                                "description": "The ARM resource name.",
                                                                "pattern": "^(?![0-9]+$)(?!-)[a-zA-Z0-9-]{2,99}[a-zA-Z0-9]$",
                                                                "readOnly": true,
                                                                "type": "string",
                                                                "x-comment": "pattern must match #/parameters/resourceName"
                                                            },
                                                            "tags": {
                                                                "additionalProperties": {
                                                                    "type": "string"
                                                                },
                                                                "description": "The resource tags.",
                                                                "type": "object"
                                                            },
                                                            "type": {
                                                                "description": "The resource type.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "location"
                                                        ],
                                                        "x-ms-azure-resource": true,
                                                        "type": "object"
                                                    }
                                                ],
                                                "description": "The IoT Central application.",
                                                "properties": {
                                                    "properties": {
                                                        "description": "The common properties of an IoT Central application.",
                                                        "x-ms-client-flatten": true,
                                                        "properties": {
                                                            "applicationId": {
                                                                "description": "The ID of the application.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "displayName": {
                                                                "description": "The display name of the application.",
                                                                "pattern": "^.{1,200}$",
                                                                "type": "string"
                                                            },
                                                            "subdomain": {
                                                                "description": "The subdomain of the application.",
                                                                "pattern": "^[a-z0-9-]{1,63}$",
                                                                "type": "string"
                                                            },
                                                            "template": {
                                                                "description": "The ID of the application template, which is a blueprint that defines the characteristics and behaviors of an application. Optional; if not specified, defaults to a blank blueprint and allows the application to be defined from scratch.",
                                                                "type": "string",
                                                                "x-ms-mutability": [
                                                                    "create",
                                                                    "read"
                                                                ]
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "sku": {
                                                        "description": "A valid instance SKU.",
                                                        "properties": {
                                                            "name": {
                                                                "description": "The name of the SKU.",
                                                                "enum": [
                                                                    "F1",
                                                                    "S1"
                                                                ],
                                                                "type": "string",
                                                                "x-ms-enum": {
                                                                    "modelAsString": true,
                                                                    "name": "AppSku"
                                                                }
                                                            }
                                                        },
                                                        "required": [
                                                            "name"
                                                        ],
                                                        "type": "object"
                                                    }
                                                },
                                                "required": [
                                                    "sku"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "DefaultErrorResponse",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "tags": [
                    "Apps"
                ],
                "x-ms-examples": {
                    "Apps_ListByResourceGroup": {
                        "parameters": {
                            "api-version": "2018-09-01",
                            "resourceGroupName": "resRg",
                            "subscriptionId": "00000000-0000-0000-0000-000000000000"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "nextLink": null,
                                    "value": [
                                        {
                                            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/resRg/providers/Microsoft.IoTCentral/IoTApps/myIoTCentralApp",
                                            "location": "westus",
                                            "name": "myIoTCentralApp",
                                            "properties": {
                                                "applicationId": "6ebd8fd3-6e34-419e-908f-9be61ec6f6d6",
                                                "displayName": "My IoT Central App",
                                                "subdomain": "my-iot-central-app",
                                                "template": "iotc-default@1.0.0"
                                            },
                                            "sku": {
                                                "name": "F1"
                                            },
                                            "tags": {
                                                "key": "value"
                                            },
                                            "type": "Microsoft.IoTCentral/IoTApps"
                                        }
                                    ]
                                },
                                "headers": {
                                    "code": "200"
                                }
                            },
                            "default": {
                                "body": {
                                    "error": {
                                        "code": "Error code",
                                        "message": "Error message",
                                        "target": "Error target"
                                    }
                                },
                                "description": "Error message returned for an unexpected response",
                                "headers": {}
                            }
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.IoTCentral/IoTApps/{resourceName}": {
            "delete": {
                "description": "Delete an IoT Central application.",
                "operationId": "Apps_Delete",
                "parameters": [
                    {
                        "description": "The version of the API.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The subscription identifier.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the resource group that contains the IoT Central application.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The ARM resource name of the IoT Central application.",
                        "in": "path",
                        "name": "resourceName",
                        "required": true,
                        "x-comment": "validation must match #/definitions/Resource",
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "This is returned as a response to the status polling request for the delete operation. The body contains the resource representation that indicates a transitional provisioning state."
                    },
                    "202": {
                        "description": "Accepted - Delete request accepted; the operation will complete asynchronously."
                    },
                    "204": {
                        "description": "Once the long running delete operation completes successfully, a 204 No Content status code is returned when the status polling request finds the IoT Central application metadata in the service and the status of the delete operation is set to a completed state."
                    },
                    "default": {
                        "description": "DefaultErrorResponse",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "tags": [
                    "Apps"
                ],
                "x-ms-examples": {
                    "Apps_Delete": {
                        "parameters": {
                            "api-version": "2018-09-01",
                            "resourceGroupName": "resRg",
                            "resourceName": "myIoTCentralApp",
                            "subscriptionId": "00000000-0000-0000-0000-000000000000"
                        },
                        "responses": {
                            "200": {
                                "header": {
                                    "code": "200",
                                    "message": "OK",
                                    "target": "ResourceHandler.ExecuteDeleteRequest"
                                }
                            },
                            "202": {},
                            "204": {},
                            "default": {
                                "body": {
                                    "error": {
                                        "code": "Error code",
                                        "message": "Error message",
                                        "target": "Error target"
                                    }
                                },
                                "description": "Error message returned for an unexpected response",
                                "headers": {
                                    "code": "200",
                                    "message": "Created"
                                }
                            }
                        }
                    }
                },
                "x-ms-long-running-operation": true
            },
            "get": {
                "deprecated": false,
                "description": "Get the metadata of an IoT Central application.",
                "operationId": "Apps_Get",
                "parameters": [
                    {
                        "description": "The version of the API.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The subscription identifier.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the resource group that contains the IoT Central application.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The ARM resource name of the IoT Central application.",
                        "in": "path",
                        "name": "resourceName",
                        "required": true,
                        "x-comment": "validation must match #/definitions/Resource",
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The body contains all the non-security properties of the IoT Central application. Security-related properties are set to null.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "description": "The common properties of an ARM resource.",
                                            "properties": {
                                                "id": {
                                                    "description": "The ARM resource identifier.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "location": {
                                                    "description": "The resource location.",
                                                    "type": "string",
                                                    "x-ms-mutability": [
                                                        "create",
                                                        "read"
                                                    ]
                                                },
                                                "name": {
                                                    "description": "The ARM resource name.",
                                                    "pattern": "^(?![0-9]+$)(?!-)[a-zA-Z0-9-]{2,99}[a-zA-Z0-9]$",
                                                    "readOnly": true,
                                                    "type": "string",
                                                    "x-comment": "pattern must match #/parameters/resourceName"
                                                },
                                                "tags": {
                                                    "additionalProperties": {
                                                        "type": "string"
                                                    },
                                                    "description": "The resource tags.",
                                                    "type": "object"
                                                },
                                                "type": {
                                                    "description": "The resource type.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "location"
                                            ],
                                            "x-ms-azure-resource": true,
                                            "type": "object"
                                        }
                                    ],
                                    "description": "The IoT Central application.",
                                    "properties": {
                                        "properties": {
                                            "description": "The common properties of an IoT Central application.",
                                            "x-ms-client-flatten": true,
                                            "properties": {
                                                "applicationId": {
                                                    "description": "The ID of the application.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "displayName": {
                                                    "description": "The display name of the application.",
                                                    "pattern": "^.{1,200}$",
                                                    "type": "string"
                                                },
                                                "subdomain": {
                                                    "description": "The subdomain of the application.",
                                                    "pattern": "^[a-z0-9-]{1,63}$",
                                                    "type": "string"
                                                },
                                                "template": {
                                                    "description": "The ID of the application template, which is a blueprint that defines the characteristics and behaviors of an application. Optional; if not specified, defaults to a blank blueprint and allows the application to be defined from scratch.",
                                                    "type": "string",
                                                    "x-ms-mutability": [
                                                        "create",
                                                        "read"
                                                    ]
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "sku": {
                                            "description": "A valid instance SKU.",
                                            "properties": {
                                                "name": {
                                                    "description": "The name of the SKU.",
                                                    "enum": [
                                                        "F1",
                                                        "S1"
                                                    ],
                                                    "type": "string",
                                                    "x-ms-enum": {
                                                        "modelAsString": true,
                                                        "name": "AppSku"
                                                    }
                                                }
                                            },
                                            "required": [
                                                "name"
                                            ],
                                            "type": "object"
                                        }
                                    },
                                    "required": [
                                        "sku"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Default error response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "tags": [
                    "Apps"
                ],
                "x-ms-examples": {
                    "Apps_Get": {
                        "parameters": {
                            "api-version": "2018-09-01",
                            "resourceGroupName": "resRg",
                            "resourceName": "myIoTCentralApp",
                            "subscriptionId": "00000000-0000-0000-0000-000000000000"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/resRg/providers/Microsoft.IoTCentral/IoTApps/myIoTCentralApp",
                                    "location": "westus",
                                    "name": "myIoTCentralApp",
                                    "properties": {
                                        "applicationId": "6ebd8fd3-6e34-419e-908f-9be61ec6f6d6",
                                        "displayName": "My IoT Central App",
                                        "subdomain": "my-iot-central-app",
                                        "template": "iotc-default@1.0.0"
                                    },
                                    "sku": {
                                        "name": "F1"
                                    },
                                    "tags": {
                                        "key": "value"
                                    },
                                    "type": "Microsoft.IoTCentral/IoTApps"
                                },
                                "description": "Returns the application details",
                                "headers": {
                                    "code": "200"
                                }
                            },
                            "default": {
                                "body": {
                                    "error": {
                                        "code": "Error code",
                                        "message": "Error message",
                                        "target": "Error target"
                                    }
                                },
                                "description": "Error message returned for an unexpected response",
                                "headers": {}
                            }
                        }
                    }
                }
            },
            "patch": {
                "deprecated": false,
                "description": "Update the metadata of an IoT Central application.",
                "operationId": "Apps_Update",
                "parameters": [
                    {
                        "description": "The version of the API.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The subscription identifier.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the resource group that contains the IoT Central application.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The ARM resource name of the IoT Central application.",
                        "in": "path",
                        "name": "resourceName",
                        "required": true,
                        "x-comment": "validation must match #/definitions/Resource",
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "This is returned as a response to the status polling request for the create or update operation. The body contains the resource representation that indicates a transitional provisioning state.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "description": "The common properties of an ARM resource.",
                                            "properties": {
                                                "id": {
                                                    "description": "The ARM resource identifier.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "location": {
                                                    "description": "The resource location.",
                                                    "type": "string",
                                                    "x-ms-mutability": [
                                                        "create",
                                                        "read"
                                                    ]
                                                },
                                                "name": {
                                                    "description": "The ARM resource name.",
                                                    "pattern": "^(?![0-9]+$)(?!-)[a-zA-Z0-9-]{2,99}[a-zA-Z0-9]$",
                                                    "readOnly": true,
                                                    "type": "string",
                                                    "x-comment": "pattern must match #/parameters/resourceName"
                                                },
                                                "tags": {
                                                    "additionalProperties": {
                                                        "type": "string"
                                                    },
                                                    "description": "The resource tags.",
                                                    "type": "object"
                                                },
                                                "type": {
                                                    "description": "The resource type.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "location"
                                            ],
                                            "x-ms-azure-resource": true,
                                            "type": "object"
                                        }
                                    ],
                                    "description": "The IoT Central application.",
                                    "properties": {
                                        "properties": {
                                            "description": "The common properties of an IoT Central application.",
                                            "x-ms-client-flatten": true,
                                            "properties": {
                                                "applicationId": {
                                                    "description": "The ID of the application.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "displayName": {
                                                    "description": "The display name of the application.",
                                                    "pattern": "^.{1,200}$",
                                                    "type": "string"
                                                },
                                                "subdomain": {
                                                    "description": "The subdomain of the application.",
                                                    "pattern": "^[a-z0-9-]{1,63}$",
                                                    "type": "string"
                                                },
                                                "template": {
                                                    "description": "The ID of the application template, which is a blueprint that defines the characteristics and behaviors of an application. Optional; if not specified, defaults to a blank blueprint and allows the application to be defined from scratch.",
                                                    "type": "string",
                                                    "x-ms-mutability": [
                                                        "create",
                                                        "read"
                                                    ]
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "sku": {
                                            "description": "A valid instance SKU.",
                                            "properties": {
                                                "name": {
                                                    "description": "The name of the SKU.",
                                                    "enum": [
                                                        "F1",
                                                        "S1"
                                                    ],
                                                    "type": "string",
                                                    "x-ms-enum": {
                                                        "modelAsString": true,
                                                        "name": "AppSku"
                                                    }
                                                }
                                            },
                                            "required": [
                                                "name"
                                            ],
                                            "type": "object"
                                        }
                                    },
                                    "required": [
                                        "sku"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "202": {
                        "description": "Accepted - Put request accepted; the operation will complete asynchronously."
                    },
                    "default": {
                        "description": "DefaultErrorResponse",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "tags": [
                    "Apps"
                ],
                "x-ms-examples": {
                    "Apps_Update": {
                        "parameters": {
                            "AppPatch": {
                                "displayName": "My IoT Central App 2"
                            },
                            "api-version": "2018-09-01",
                            "resourceGroupName": "resRg",
                            "resourceName": "myIoTCentralApp",
                            "subscriptionId": "00000000-0000-0000-0000-000000000000"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/resRg/providers/Microsoft.IoTCentral/IoTApps/myIoTCentralApp",
                                    "location": "westus",
                                    "name": "myIoTCentralApp",
                                    "properties": {
                                        "applicationId": "6ebd8fd3-6e34-419e-908f-9be61ec6f6d6",
                                        "displayName": "My IoT Central App 2",
                                        "subdomain": "my-iot-central-app-2",
                                        "template": "iotc-default@1.0.0"
                                    },
                                    "sku": {
                                        "name": "F1"
                                    },
                                    "tags": {
                                        "key": "value"
                                    },
                                    "type": "Microsoft.IoTCentral/IoTApps"
                                },
                                "headers": {
                                    "code": "200",
                                    "message": "OK",
                                    "target": "ResourceHandler.ExecutePatchRequest"
                                }
                            },
                            "202": {},
                            "default": {
                                "body": {
                                    "error": {
                                        "code": "Error code",
                                        "message": "Error message",
                                        "target": "Error target"
                                    }
                                },
                                "description": "Error message returned for an unexpected response",
                                "headers": {}
                            }
                        }
                    }
                },
                "x-ms-long-running-operation": true,
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "The description of the IoT Central application.",
                                "properties": {
                                    "properties": {
                                        "description": "The common properties of an IoT Central application.",
                                        "x-ms-client-flatten": true,
                                        "properties": {
                                            "applicationId": {
                                                "description": "The ID of the application.",
                                                "readOnly": true,
                                                "type": "string"
                                            },
                                            "displayName": {
                                                "description": "The display name of the application.",
                                                "pattern": "^.{1,200}$",
                                                "type": "string"
                                            },
                                            "subdomain": {
                                                "description": "The subdomain of the application.",
                                                "pattern": "^[a-z0-9-]{1,63}$",
                                                "type": "string"
                                            },
                                            "template": {
                                                "description": "The ID of the application template, which is a blueprint that defines the characteristics and behaviors of an application. Optional; if not specified, defaults to a blank blueprint and allows the application to be defined from scratch.",
                                                "type": "string",
                                                "x-ms-mutability": [
                                                    "create",
                                                    "read"
                                                ]
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "tags": {
                                        "additionalProperties": {
                                            "type": "string"
                                        },
                                        "description": "Instance tags",
                                        "type": "object"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "description": "The IoT Central application metadata and security metadata.",
                    "required": true
                }
            },
            "put": {
                "deprecated": false,
                "description": "Create or update the metadata of an IoT Central application. The usual pattern to modify a property is to retrieve the IoT Central application metadata and security metadata, and then combine them with the modified values in a new body to update the IoT Central application.",
                "operationId": "Apps_CreateOrUpdate",
                "parameters": [
                    {
                        "description": "The version of the API.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The subscription identifier.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the resource group that contains the IoT Central application.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The ARM resource name of the IoT Central application.",
                        "in": "path",
                        "name": "resourceName",
                        "required": true,
                        "x-comment": "validation must match #/definitions/Resource",
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "This is returned as a response to the status polling request for the create or update operation. The body contains the resource representation that indicates a transitional provisioning state.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "description": "The common properties of an ARM resource.",
                                            "properties": {
                                                "id": {
                                                    "description": "The ARM resource identifier.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "location": {
                                                    "description": "The resource location.",
                                                    "type": "string",
                                                    "x-ms-mutability": [
                                                        "create",
                                                        "read"
                                                    ]
                                                },
                                                "name": {
                                                    "description": "The ARM resource name.",
                                                    "pattern": "^(?![0-9]+$)(?!-)[a-zA-Z0-9-]{2,99}[a-zA-Z0-9]$",
                                                    "readOnly": true,
                                                    "type": "string",
                                                    "x-comment": "pattern must match #/parameters/resourceName"
                                                },
                                                "tags": {
                                                    "additionalProperties": {
                                                        "type": "string"
                                                    },
                                                    "description": "The resource tags.",
                                                    "type": "object"
                                                },
                                                "type": {
                                                    "description": "The resource type.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "location"
                                            ],
                                            "x-ms-azure-resource": true,
                                            "type": "object"
                                        }
                                    ],
                                    "description": "The IoT Central application.",
                                    "properties": {
                                        "properties": {
                                            "description": "The common properties of an IoT Central application.",
                                            "x-ms-client-flatten": true,
                                            "properties": {
                                                "applicationId": {
                                                    "description": "The ID of the application.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "displayName": {
                                                    "description": "The display name of the application.",
                                                    "pattern": "^.{1,200}$",
                                                    "type": "string"
                                                },
                                                "subdomain": {
                                                    "description": "The subdomain of the application.",
                                                    "pattern": "^[a-z0-9-]{1,63}$",
                                                    "type": "string"
                                                },
                                                "template": {
                                                    "description": "The ID of the application template, which is a blueprint that defines the characteristics and behaviors of an application. Optional; if not specified, defaults to a blank blueprint and allows the application to be defined from scratch.",
                                                    "type": "string",
                                                    "x-ms-mutability": [
                                                        "create",
                                                        "read"
                                                    ]
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "sku": {
                                            "description": "A valid instance SKU.",
                                            "properties": {
                                                "name": {
                                                    "description": "The name of the SKU.",
                                                    "enum": [
                                                        "F1",
                                                        "S1"
                                                    ],
                                                    "type": "string",
                                                    "x-ms-enum": {
                                                        "modelAsString": true,
                                                        "name": "AppSku"
                                                    }
                                                }
                                            },
                                            "required": [
                                                "name"
                                            ],
                                            "type": "object"
                                        }
                                    },
                                    "required": [
                                        "sku"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "This is returned as a response to the status polling request for the create or update operation. The body contains the resource representation that indicates a transitional provisioning state.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "description": "The common properties of an ARM resource.",
                                            "properties": {
                                                "id": {
                                                    "description": "The ARM resource identifier.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "location": {
                                                    "description": "The resource location.",
                                                    "type": "string",
                                                    "x-ms-mutability": [
                                                        "create",
                                                        "read"
                                                    ]
                                                },
                                                "name": {
                                                    "description": "The ARM resource name.",
                                                    "pattern": "^(?![0-9]+$)(?!-)[a-zA-Z0-9-]{2,99}[a-zA-Z0-9]$",
                                                    "readOnly": true,
                                                    "type": "string",
                                                    "x-comment": "pattern must match #/parameters/resourceName"
                                                },
                                                "tags": {
                                                    "additionalProperties": {
                                                        "type": "string"
                                                    },
                                                    "description": "The resource tags.",
                                                    "type": "object"
                                                },
                                                "type": {
                                                    "description": "The resource type.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "location"
                                            ],
                                            "x-ms-azure-resource": true,
                                            "type": "object"
                                        }
                                    ],
                                    "description": "The IoT Central application.",
                                    "properties": {
                                        "properties": {
                                            "description": "The common properties of an IoT Central application.",
                                            "x-ms-client-flatten": true,
                                            "properties": {
                                                "applicationId": {
                                                    "description": "The ID of the application.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "displayName": {
                                                    "description": "The display name of the application.",
                                                    "pattern": "^.{1,200}$",
                                                    "type": "string"
                                                },
                                                "subdomain": {
                                                    "description": "The subdomain of the application.",
                                                    "pattern": "^[a-z0-9-]{1,63}$",
                                                    "type": "string"
                                                },
                                                "template": {
                                                    "description": "The ID of the application template, which is a blueprint that defines the characteristics and behaviors of an application. Optional; if not specified, defaults to a blank blueprint and allows the application to be defined from scratch.",
                                                    "type": "string",
                                                    "x-ms-mutability": [
                                                        "create",
                                                        "read"
                                                    ]
                                                }
                                            },
[...]
